<div class="container">
    <h1 align="center">API Testing using Mocha & Chai</h1>
	<div class="login-container">
            <div id="output"></div>
            <img src="../images/AT%20logo.png" class="avatar">
            <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
            <div class="form-box">
                <form class="form" ng-submit="login()">
                    <input type="text" class="form-control" placeholder="username" name="username" ng-model="loginForm.username" required>
                    <input type="password" placeholder="password" class="form-control" name="password" ng-model="loginForm.password" required>
                    <button type="submit" class="btn btn-info btn-block login" type="submit" ng-disabled="disabled">Login</button>
                </form>
            </div>
         <p>New User??<a href="#/register"><span>Click here to Register</span></a></p>
    </div>
    
    
        
</div>